@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    font-size: 14px;
    color: black !important;
  }

  .page-break {
    page-break-after: always; /* For older browsers */
    break-after: page; /* Modern browsers */
  }

  /* Landscape orientation */
  @page {
    size: A4 landscape;
    margin: 20mm 10mm;
  }

  h1 {
    font-size: 18px !important;
  }
}

body {
  @apply h-screen text-sm bg-primary-900/90 text-winter-100/80;
}

button,
.button {
  @apply text-winter-100/80 px-2 py-1 font-semibold uppercase tracking-[.05rem] text-[13px];
  &.primary {
    @apply bg-primary-500 hover:bg-primary-900;
  }
  &.secondary {
    @apply bg-secondary-900 hover:text-winter-100;
  }
  &.success {
    @apply bg-green-900 hover:bg-green-900;
  }
  &.danger {
    @apply bg-red-500 hover:bg-red-900;
  }
  &.warning {
    @apply bg-warrning-500/80 text-black hover:bg-warrning-900/80 hover:text-black;
  }
  &.info {
    @apply bg-turquoise-500 hover:bg-turquoise-900;
  }
  &.disabled {
    @apply bg-gray-400;
  }
  &.extrasmall {
    @apply px-2 pt-[4px] pb-[1px] text-white hover:bg-turquoise-500 hover:text-white  mb-2 block xl:hidden self-start;
  }
  &.small {
    @apply px-2 py-[9px] text-[11px] md:text-[12px];
  }
  &.medium {
    @apply px-3 py-2;
  }
  &.large {
    @apply px-4 py-2;
  }
}
button:disabled {
  @apply bg-gray-400/50 cursor-not-allowed hover:bg-gray-400;
}

input.disabled {
  @apply bg-secondary-100/60 cursor-not-allowed border-transparent focus:border-transparent my-2 lg:my-0;
}

/* HTML: <div class="loader"></div> */
.loader {
  position: relative;
  width: 75px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-size: 8px 100%;
  background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  animation: pillerPushUp 4s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: #de3500;
  border-radius: 50%;
  animation: ballStepUp 4s linear infinite;
}
@keyframes pillerPushUp {
  0%,
  40%,
  100% {
    background-position: 0px 90px, 15px 78px, 30px 66px, 45px 58px, 60px 50px;
  }
  50%,
  90% {
    background-position: 0px 50px, 15px 58px, 30px 66px, 45px 78px, 60px 90px;
  }
}

@keyframes ballStepUp {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.recharts-bar-rectangle:hover {
  fill: inherit !important;
}

.recharts-cartesian-grid line {
  stroke-opacity: 1 !important;
}

.recharts-cartesian-axis-line,
.recharts-cartesian-grid line:hover {
  stroke: inherit !important;
  background: transparent !important;
}

@media print {
  .print-page-break-before {
    page-break-before: always;
  }
  .print-page-break-after {
    page-break-after: always;
  }
  .print-no-break-inside {
    page-break-inside: avoid;
  }
}
